<div class="container main-container">

  <div class="container-fluid mb-2">
    <div class="row">
      <div class="col-sm-6 dashboard-header-col">
        <h3 class="box-title">Create Coaching Session</h3>
      </div>
    </div>
  </div>
  <div class="card card-primary card-outline p-2 mx-2">
    <form [formGroup]="coachingSessionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date" />
        <span *ngIf="date && date.invalid && date.touched"><i class="validation">Please enter a valid
            Date.</i></span>
      </div>
      <div class="form-group">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" formControlName="time" placeholder="4:15 AM" />
        <span *ngIf="time && time.invalid && time.touched"><i class="validation">Please enter a valid
            Time.</i></span>
      </div>
      <div class="form-group">
        <label for="duration">Duration (in minutes)</label>
        <input type="number" class="form-control" id="duration" formControlName="duration" />
        <span *ngIf="duration && duration.invalid && duration.touched"><i class="validation">Please enter a valid
            Course Duration.</i></span>
      </div>
      <div class="form-group">
        <label for="instructorId">Instructor</label>
        <select class="form-control" id="instructorId" (change)="onInstructorSelectionChange()"
          formControlName="instructorId">
          <option [ngValue]="null" disabled>Select an instructor</option>
          <option *ngFor="let instructor of instructors" [ngValue]=instructor.userId>{{ instructor.firstName }} {{
            instructor.lastName }}</option>
        </select>
        <span *ngIf="instructorId && instructorId.invalid && instructorId.touched"><i class="validation">Please enter a
            valid
            instructorId name.</i></span>
      </div>
      <div class="form-group">
        <label for="course">Course</label>
        <select class="form-control" id="courseId" formControlName="courseId">
          <option [ngValue]="null" disabled>Select a course</option>
          <option *ngFor="let course of courses" [ngValue]=course.courseId>{{ course.courseName }}</option>
        </select>
        <span *ngIf="courseId && courseId.invalid && courseId.touched"><i class="validation">Please enter a valid
            course name.</i></span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="coachingSessionForm.invalid">
        Create
      </button>
      <button type="submit" class="btn btn-danger" (click)="onCancel()">
        Cancel
      </button>
    </form>
  </div>
</div>