<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Avalability calendar</h1>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card card-primary">
            <div class="card-body p-0">
              <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
