<div class="container-fluid">
  <div class="box">
    <div _ngcontent-rnq-c3="" class="box-header with-border">
      <h3 _ngcontent-rnq-c3="" class="box-title">All Courses</h3>
    </div>
    <div class="card card-primary card-outline p-2">
      <table datatable [dtOptions]="dtOptions" class="table table-hover">
        <thead>
          <tr>
            <th class="table-title">Name</th>
            <th class="table-title">Duration</th>
            <th class="table-title">Level</th>
            <th class="table-title">Category</th>
            <th class="table-title">Instructor</th>
            <th class="table-title">Format</th>
            <th class="table-title">Fee</th>
            <th *ngIf="IsAdminTeacher" class="table-title">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList">
            <td>{{ course.courseName }}</td>
            <td>{{ course.courseDuration }}</td>
            <td>{{ course.courseLevel }}</td>
            <td>{{ course.courseCategoryName }}</td>
            <td>{{ course.instructorName[0] }}</td>
            <td>{{ course.courseFormat }}</td>
            <td>{{ course.courseFee | currency }}</td>
            <td *ngIf="IsAdminTeacher">
              <a class="btn bg-gradient-success btn-sm mr-2" (click)="editCourses(course.courseId)"><i
                  class="fas fa-edit"></i></a>

              <a class="btn bg-gradient-danger btn-sm" (click)="editCourses(course.courseId)"><i
                  class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>