<div class="container-fluid">
    <table datatable [dtOptions]="dtOptions" class="table table-hover">
      <thead>
        <tr>
            <th>#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Joining Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.name }}</td>
          <td>{{ course.duration }}</td>
          <td>{{ course.level }}</td>
          <td>{{ course.category }}</td>
          <td>{{ course.instructor }}</td>
          <td>{{ course.format }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  