<div class="container-fluid">
  <div class="box">
    <div _ngcontent-rnq-c3="" class="box-header with-border">
      <h3 _ngcontent-rnq-c3="" class="box-title">All Users</h3>
    </div>
    <div class="card card-primary card-outline p-2">
      <table datatable [dtOptions]="dtOptions" class="table table-hover">
        <thead>
          <tr>
            <th class="table-title">#</th>
            <th class="table-title">Name</th>
            <th class="table-title">Username</th>
            <th class="table-title">Email</th>
            <th class="table-title">Role</th>
            <th class="table-title">Joining Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td>{{ course.duration }}</td>
            <td>{{ course.level }}</td>
            <td>{{ course.category }}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.format }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>