<div class="container-fluid">
  <div class="box">
    <div _ngcontent-rnq-c3="" class="box-header with-border">
      <h3 _ngcontent-rnq-c3="" class="box-title">All Users</h3>
    </div>
    <div class="card card-primary card-outline p-2">
      <table datatable #dataTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
        <thead>
          <tr>
            <th class="table-title">Name</th>
            <th class="table-title">Email</th>
            <th class="table-title">Role</th>
            <th class="table-title">Joining Date</th>
            <th *ngIf="IsAdminTeacher" class="table-title">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roleName }}</td>
            <td>{{ user.joiningDate }}</td>
            <td *ngIf="IsAdminTeacher">
              <a class="btn bg-gradient-success btn-sm mr-2" (click)="editUsers(user.userId)"><i
                  class="fas fa-edit"></i></a>

              <a class="btn bg-gradient-danger btn-sm" (click)="editUsers(user.userId)"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <table datatable [dtOptions]="dtOptions" class="table table-hover">
        <thead>
          <tr>
            <th class="table-title">Name</th>
            <th class="table-title">Username</th>
            <th class="table-title">Email</th>
            <th class="table-title">Role</th>
            <th class="table-title">Joining Date</th>
            <th *ngIf="IsAdminTeacher" class="table-title">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstName }} {{user.lastName}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.joiningDate }}</td>
            <td *ngIf="IsAdminTeacher">
              <a
                class="btn bg-gradient-success btn-sm mr-2"
                (click)="editUsers(user.id)"
                ><i class="fas fa-edit"></i
              ></a>

              <a
                class="btn bg-gradient-danger btn-sm"
                (click)="editUsers(user.id)"
                ><i class="fas fa-trash"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>