<!-- <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Review</h2>
      </div>
      <div class="col">
        <h2>Course</h2>
      </div>
      <div class="col">
        <h2>Rating</h2>
      </div>
      <div class="col">
        <h2>Details</h2>
      </div>
      <div class="col">
        <h2>Action</h2>
      </div>
    </div>
  
    <div class="row" *ngFor="let review of teacherReviews">
      <div class="col">
        <h4>{{ review.teacherName }}</h4>
        <p>{{ review.reviewDescription }}</p>
      </div>
      <div class="col">{{ review.course }}</div>
      <div class="col">
        <span class="stars">{{ review.rating }}</span>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="openModal(review)">Details</button>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            Action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="openCreateModal(review)">Create</a>
            <a class="dropdown-item" (click)="deleteFeedback(review)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div> -->
