<div class="container-fluid">
  <div class="box">
    <div _ngcontent-rnq-c3="" class="box-header with-border">
      <h3 _ngcontent-rnq-c3="" class="box-title">Rating</h3>
    </div>
    <div class="card">

      <div class="card-header row">
        <div class="col-7 table-col review-heading">
          <p class="table-heading">Review</p>
        </div>
        <div class="col-1 table-col">
          <p class="table-heading">Course</p>
        </div>
        <div class="col-2 table-col">
          <button class="btn btn-datatable" (click)="sortByRating()">
            Rating
            <span *ngIf="sortDirection === 'asc'">&#8593;</span> <!-- Ascending icon -->
            <span *ngIf="sortDirection === 'desc'">&#8595;</span> <!-- Descending icon -->
          </button>
        </div>
        <div class="col-1 table-col">
          <p class="table-heading">Join</p>
        </div>
        <div class="col-1 table-col">
          <p class="table-heading">Action</p>
        </div>
      </div>
      <div class="card-body-custom">
        <div class="create-feedback-bt" *ngIf="feedbackList.length <= 0">
          <button class="btn btn-primary" data-toggle="modal" data-target="#createFeedback"> create
            feedback</button>
        </div>
        <div class="row feedback-row info-box card-body"
          *ngFor="let feedback of feedbackList|paginate:{ itemsPerPage: 5, currentPage: currentPage, totalItems: totalItems }">
          <div class="col-7 table-col">
            <div class="review-col">
              <p class="instructor-name">{{ feedback.instructorName }}</p>
              <p class="para-txt">{{ feedback.review }}</p>
            </div>
          </div>
          <div class="col-1 table-col para-txt">{{ feedback.courseName }}</div>
          <div class="col-2 table-col">
            <!-- <span class="stars">{{ feedback.rating }}</span> -->
            <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true">
              <ng-template let-fill="fill">
                <span class="star color{{feedback.rating}}" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
          <div class="col-1 table-col">
            <button class="btn btn-datatable">Join</button>

          </div>
          <div class="col-1 table-col">
            <div class="dropdown">
              <button class="btn btn-datatable" type="button" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v table-title" style="font-size: 1rem;"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-toggle="modal" data-target="#createFeedback">Create</a>
                <a class="dropdown-item">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer-custom ">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
      </div>

    </div>
  </div>

  <div class="modal fade" id="createFeedback" tabindex="-1" role="dialog" aria-labelledby="createFeedback"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createFeedback">Give your review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="instructorId">Instructor</label>
              <select class="form-control" id="instructorId" formControlName="instructorId">
                <option [ngValue]="null" disabled>Select an instructor</option>
                <option *ngFor="let instructor of instructors" [ngValue]="instructor.id">{{ instructor.firstName }} {{
                  instructor.lastName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="course">Course</label>
              <select class="form-control" id="courseId" formControlName="courseId">
                <option [ngValue]="null" disabled>Select a course</option>
                <option *ngFor="let course of courses" [ngValue]=course.courseId>{{ course.courseName }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="rating" class="mr-3">Rating: </label>
              <!-- <ngb-rating [max]="5" [readonly]="false" (rateChange)="onRatingChange($event)"></ngb-rating> -->
              <ngb-rating [max]="5" [readonly]="false" (rateChange)="onRatingChange($event)">
                <ng-template let-fill="fill">
                  <span class="star color%" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
              <input type="hidden" formControlName="rating" [value]="ratingValue">
            </div>
            <div class="form-group">
              <label for="review">Review</label>
              <textarea class="form-control" id="review" formControlName="review"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>