<div class="container-fluid">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Update user details</h3>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="box-body row card pt-2">
        <div class="d-flex">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="firstName" formControlName="firstName"
              placeholder="First Name" />
            <span *ngIf="firstName && firstName.invalid && firstName.touched"><i class="validation">Please enter a valid
                name.</i></span>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name" />
            <span *ngIf="lastName && lastName.invalid && lastName.touched"><i class="validation">Please enter a valid
                name.</i></span>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group col-md-6">
            <input type="emailAddress" class="form-control" id="emailAddress" formControlName="emailAddress"
              placeholder="email Address" />
            <span *ngIf="emailAddress && emailAddress.invalid && emailAddress.touched"><i class="validation">Please
                enter a valid email address.</i></span>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="password" formControlName="password" placeholder="password" />
            <span *ngIf="password && password.invalid && password.touched"><i class="validation">Update your
                password.</i></span>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group col-md-6">
            <select class="form-control" id="stateId" formControlName="stateId">
              <option [ngValue]="null" selected>Select your state...</option>
              <option *ngFor="let state of stateList" value={{state.stateId}}>{{state.stateName}}</option>
            </select>
            <span *ngIf="stateId && stateId.invalid && stateId.touched"><i class="validation">Please select your
                state.</i></span>
          </div>
          <div class="form-group col-md-6">
            <select class="form-control" id="cityId" formControlName="cityId">
              <option [ngValue]="null" selected>Select your city...</option>
              <option *ngFor="let city of cityList" value={{city.cityId}}>{{city.cityName}}</option>
            </select>
            <span *ngIf="cityId && cityId.invalid && cityId.touched"><i class="validation">Please select a valid
                cityId.</i></span>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address" />
            <span *ngIf="address && address.invalid && address.touched"><i class="validation">Please provide an
                Address.</i></span>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
              placeholder="Phone Number" />
            <span *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched"><i class="validation">Please enter a
                valid phone number.</i></span>
          </div>
        </div>

        <div class="d-flex">
          <div class="form-group col-md-6">
            <label for="dateOfBirth" class="label">Date of Birth</label>
            <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" />
            <span *ngIf="dateOfBirth && dateOfBirth.invalid && dateOfBirth.touched"><i class="validation">Please select
                a valid Date.</i></span>
          </div>
          <div class="form-group col-md-6">
            <label for="joiningDate" class="label">Joining Date</label>
            <input type="date" class="form-control" id="joiningDate" formControlName="joiningDate" />
            <span *ngIf="joiningDate && joiningDate.invalid && joiningDate.touched"><i class="validation">Please select
                a valid Date.</i></span>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-group col-md-6">
            <label for="gender" class="label">Gender</label>
            <select class="form-control" id="gender" formControlName="gender">
              <option value="" selected>Select a Gender</option>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
              <option value="OTHERS">Others</option>
            </select>
            <span *ngIf="gender && gender.invalid && gender.touched"><i class="validation">Please select a valid
                Gender.</i></span>
          </div>
          <div class="form-group col-md-6">
            <label for="roleName" class="label">User role</label>
            <select class="form-control" id="roleName" formControlName="roleName">
              <option value="" selected>Select a Role</option>
              <option value="ADMIN">Admin</option>
              <option value="TEACHER">Teacher</option>
              <option value="STUDENT">Student</option>
            </select>
            <span *ngIf="roleName && roleName.invalid && roleName.touched"><i class="validation">Please select a valid
                role.</i></span>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</div>