<div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Mind</b>Mentor</a>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <span *ngIf="email && email.invalid && email.touched"><i class="validation">Please enter a valid email.</i></span>
          
          <div class="input-group mt-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <span *ngIf="password && password.invalid && password.touched"><i class="validation">Please enter a valid Password.</i></span>
          
          <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4 mt-4">
              <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Sign In</button>
            </div>
          </div>
        </form>
        <p class="mb-1 mt-3">
          <a href="#">I forgot my password</a>
        </p>
      </div>
    </div>
  </div>
  