<div class="container-fluid main-container">

    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-sm-6 dashboard-header-col">
                <h3 class="">Analytics</h3>
            </div>
            <div class="col-sm-6 dashboard-header-col">
                <ol class="breadcrumb float-sm-right mb-0">
                    <li class="breadcrumb-item"><a href="#">Analytics</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
    <section class="content-header">
        <h1>Coaching Program Performance</h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>$10000</h3>
                        <p>Revenue</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>10</h3>
                        <p>Enrollment</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>20</h3>
                        <p>Retention</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>30</h3>
                        <p>Satisfaction</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Course Performance and Completion Rates</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Enrollment</th>
                                        <th>Completion Rate</th>
                                        <th>Average Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr ng-repeat="course in courses"> -->
                                    <tr>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- Student Demographics -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Student Demographics</h3>
                    </div>
                    <div class="box-body">
                        <div id="student-demographics-chart" style="height: 250px;"></div>
                    </div>
                </div>
            </div>

            <!-- Enrollment Trends -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Enrollment Trends</h3>
                    </div>
                    <div class="box-body">
                        <div id="enrollment-trends-chart" style="height: 250px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Benchmarking -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Benchmarking</h3>
            </div>
            <div class="box-body">
                <p>Compare your coaching program's performance against industry standards and competitors.</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>Your Program</th>
                            <th>Industry Average</th>
                            <th>Top Competitor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Revenue</td>
                            <td>$250,000</td>
                            <td>$200,000</td>
                            <td>$300,000</td>
                        </tr>
                        <tr>
                            <td>Enrollment</td>
                            <td>1,000</td>
                            <td>800</td>
                            <td>1,200</td>
                        </tr>
                        <tr>
                            <td>Retention Rate</td>
                            <td>90%</td>
                            <td>85%</td>
                            <td>95%</td>
                        </tr>
                        <tr>
                            <td>Satisfaction Rate</td>
                            <td>95%</td>
                            <td>90%</td>
                            <td>97%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>